body{
    overflow: hidden;
}
.header{
    display: flex;
}
.left-top-hd {
    /* background-color: red; */
    width: 25%;
    height: 39vw;

    margin: 1vw;
} 
.center-top-hd {
    position: absolute;
    /* background-color: rgb(253, 160, 160); */
    width: 30%;    
    height: 39vw;
    margin: 1vw;
    left: 30vw;
    top: 7vw;
    border: 0.2vw solid;

} 
 .right-top-hd{
    position: absolute;
    /* display: none; */
    /* background-color: rgb(102, 48, 48); */
    width: 30%;
    /* height: 5vw; */
    left: 63vw;
    top: 7vw;
    height: 39vw;
    border: 0.2vw solid;
    margin: 1vw;

} 