

#chartlagn{
    font-size: 0.7vw;
    position: absolute;
    /* right: 30px; */
    /* top: 0.5cm; */
  }

.butt{
    position: absolute;
    width: 5vw;
    height: 2vw;
   background-color: rgb(255, 255, 255);
   /* color: white; */

   font-family: Arial black;
   font-size: 0.8vw  ;
   border: 0.2vw solid;
   /* border-style: dotted; */
   top: 5.5vw;
   left: 14vw;
}
.butt:hover{
    background-color: rgb(226, 226, 226);
}




.butt2{
    position: absolute;
    width: 3vw;
    height: 2vw;
   background-color: rgb(255, 255, 255);
   /* color: white; */

   font-family: Arial black;
   font-size: 0.8vw;
   border: 0.2vw solid;
   top: 5.5vw;
   left: 20vw;
   /* border-style: dotted; */
}
.butt2:hover{
    background-color: rgb(207, 207, 207);
}


.pen-img{
    /* padding: cm; */
    /* margin: 5px; */

    margin-left: 0.2cm;
    border-radius: 10px;
    width: 1cm;
    height: 1cm;
    position: relative;
    /* font-family: Arial black; */
    top: 8px;
    color: white;
    border: 0px solid;
    background-color: rgb(15, 106, 190); 
    z-index: 100;
}

.pen-img:hover{ 
    background-color: rgb(49, 66, 161);
}



#clear2{
    position: absolute;
    border: 1px solid;
    background-color: white;
    color: black;
    margin-left: 13cm;
    margin-top: -2cm;
}
.pen-img3{
    /* padding: cm; */
    /* margin: 5px; */

    margin-left: 0.2cm;
    border-radius: 10px;
    width: 1cm;
    height: 1cm;
    position: relative;
    /* font-family: Arial black; */
    top: 8px;
    color: white;
    border: 0px solid;
    background-color: rgb(37, 192, 23); 
    z-index: 100;
}

.pen-img3:hover{ 
    background-color: rgb(49, 66, 161);
}


.pen-img4{
    /* padding: cm; */
    /* margin: 5px; */

    /* margin-left: 0.2cm; */
    /* border-radius: 10px; */
    width: 2vw;
    font-size: 1vw;
    height: 2vw;
    position: absolute;
    /* font-family: Arial black; */
    /* top: 8px; */
    /* color: white; */
    border: 0.1vw solid;
    background-color: rgb(255, 255, 255); 
    z-index: 100;
    left: 3.3vw;
    right: 0vw;
    bottom: 0.2vw;
    /* left: 2vw; */
}

.pen-img4:hover{ 
    background-color: rgb(238, 238, 238);
}


