.color-swatch {
  position: absolute;
  padding: 0.8vw;
  height: 0.1vw;
  border: 0.1vw solid;
  /* margin: 5px; */
  /* border-radius: 8px; */
  cursor: grab;
  /* border-radius: 10%; */

  /* top: 0.2cm; */
  bottom: 0.3vw;

  /* left: 0.5vw; */
  z-index: 4;
}

#arrayDisplay {
  position: absolute;
  overflow: hidden;
  border: 0.2vw solid;
  width: 22.7vw;
  height: 22.5vw;
  top: 8vw;
  left: 1vw;
}

.b2 {
  position: absolute;
  rotate: 45deg;
  left: 5.7vw;
  /* top: 1vw; */
  bottom: 39.6vw;

}

#dropBox1 {
  position: absolute;
  padding: 4vw;
  /* background-color: hsl(0, 100%, 50%); */
  border: 0.1vh solid;
}

#dropBox2 {
  position: absolute;
  padding: 4vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 8vw;
}

#dropBox3 {
  position: absolute;
  padding: 4vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 16vw;
}

#dropBox4 {
  position: absolute;
  padding: 4vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 24vw;
}

#dropBox5 {
  position: absolute;
  padding: 4vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 32vw;
}


#dropBox6 {
  position: absolute;
  padding: 4vw;
  top: 8vw;
  /* background-color: hsl(0, 100%, 50%); */
  border: 0.1vh solid;
}

#dropBox7 {
  position: absolute;
  padding: 4vw;
  top: 8vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 8vw;
}

#dropBox8 {
  position: absolute;
  padding: 4vw;
  top: 8vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 16vw;
}

#dropBox9 {
  position: absolute;
  padding: 4vw;
  top: 8vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 24vw;
}

#dropBox10 {
  position: absolute;
  padding: 4vw;
  top: 8vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 32vw;
}


#dropBox11 {
  position: absolute;
  padding: 4vw;
  top: 16vw;
  /* background-color: hsl(0, 100%, 50%); */
  border: 0.1vh solid;
}

#dropBox12 {
  position: absolute;
  padding: 4vw;
  top: 16vw;
  /* background-color: red; */
  border: 0.3vh solid;
  left: 7.9vw;
}

#dropBox13 {
  position: absolute;
  padding: 4vw;
  top: 16vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 16vw;
}

#dropBox14 {
  position: absolute;
  padding: 4vw;
  top: 16vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 24vw;
}

#dropBox15 {
  position: absolute;
  padding: 4vw;
  top: 16vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 32vw;
}


#dropBox16 {
  position: absolute;
  padding: 4vw;
  top: 24vw;
  /* background-color: hsl(0, 100%, 50%); */
  border: 0.1vh solid;
}

#dropBox17 {
  position: absolute;
  padding: 4vw;
  top: 24vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 8vw;
}

#dropBox18 {
  position: absolute;
  padding: 4vw;
  top: 24vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 16vw;
}

#dropBox19 {
  position: absolute;
  padding: 4vw;
  top: 24vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 24vw;
}

#dropBox20 {
  position: absolute;
  padding: 4vw;
  top: 24vw;
  /* background-color: red; */
  border: 0.1vh solid;
  left: 32vw;
}


#chartlagn {
  position: absolute;
  top: 5vw;
  font-size: 2vw;
  left: 1vw;

}

#nu1 {
  position: absolute;
  font-size: 1.5vw;
  left: 11.1vw;
  top: 9vw;
  z-index: 10;
}

#nu10 {
  position: absolute;
  font-size: 1.5vw;
  left: 12.3vw;
  top: 10.5vw;
  z-index: 10;
}

#nu7 {
  position: absolute;
  font-size: 1.5vw;
  left: 11.1vw;
  top: 12vw;
  z-index: 10;
}

#nu4 {
  position: absolute;
  font-size: 1.5vw;
  left: 9.8vw;
  top: 10.5vw;
  z-index: 10;
}

#nu2 {
  position: absolute;
  font-size: 1.5vw;
  left: 5.4vw;
  top: 3.7vw;
  z-index: 10;
}

#nu3 {
  position: absolute;
  font-size: 1.5vw;
  left: 4.6vw;
  top: 5vw;
  z-index: 10;
}

#nu12 {
  position: absolute;
  font-size: 1.5vw;
  left: 16.4vw;
  top: 3.5vw;
  z-index: 10;
}

#nu11 {
  position: absolute;
  font-size: 1.5vw;
  left: 17.9vw;
  top: 5vw;
  z-index: 10;
}

#nu9 {
  position: absolute;
  font-size: 1.5vw;
  left: 17.9vw;
  top: 16.2vw;
  z-index: 10;
}

#nu8 {
  position: absolute;
  font-size: 1.5vw;
  left: 16.8vw;
  top: 17.5vw;
  z-index: 10;
}

#nu6 {
  position: absolute;
  font-size: 1.5vw;
  left: 5.4vw;
  top: 17.5vw;
  z-index: 10;
}

#nu5 {
  position: absolute;
  font-size: 1.5vw;
  left: 4vw;
  top: 16.5vw;
  z-index: 10;
}