.col1{
    position: relative;
    right: 1cm;
    /* top: 13cm; */
    /* background-color: rgb(255, 255, 255); */
}

.pen{
    /* border: 1px solid; */
    height: 2.5vw;
    width:8vw;
    position: absolute;
    border: 0.1vw solid;
    top: 38.2vw;
    right: 82.9vw;
    /* right: 0.8cm; */
    /* border-radius: 20px; */
    
}


.pen1{
    border: 1px solid;
    height: 1.5cm;
    width: 3cm;
    position: relative;
    /* right: 1cm; */
    left: 0cm;
    /* border-radius: 20px; */
    
}

