.col1{
    position: relative;
    /* right: 1cm; */
    /* width: cm; */
    /* top: 13cm; */
    /* background-color: rgb(255, 255, 255); */
}




.pen1{
    border: 1px solid;
    height: 1.5cm;
    width: 3cm;
    position: relative;
    /* right: 1cm; */
    /* left: 0cm; */
    /* border-radius: 20px; */
    
}
.boxes-color-pen-arrow{
    /* position: absolute; */
    margin-top: 1cm;
    margin-right: 0cm;
}


