
#p7{
    width: 0.5cm;
    /* background-color: red; */
    position: relative;
    left: 11.6cm;
  
    top: -250px;
    /* bottom: ; */
  }
   
  
    
      #pl{
        position: absolute;
        width: 2.5vh;
        /* background-color: red;  */
        aspect-ratio: 1/1;
        object-fit: contain;
        /* bottom: 0.1vh; */
        top: -3vh;
      }
      #pal{
        border: 0.1vw solid;

        width: 23vw;
        /* border-radius: 10px; */
        position: absolute;
        height: 3vw;
        /* left: m; */
        top: 4vw;
        /* bottom: -0.2cm; */
      }

      .lp{
        position: absolute;
        top: 2vw;
        font-size: 0.9vw
        
      }
      









          
      #mydiv,  #mydiv1 , #mydiv2 , #mydiv3 , #mydiv4 , #mydiv5, #mydiv6 , #mydiv7, #mydiv8 , #mydiv9 , .mydiv8{
        position: absolute;
        z-index: 9;
        /* background-color: #f1f1f1; */
        /* width: 1cm; */
        border-radius: 10%;
        text-align: center;
        /* display: block; */
        /* font-size: 0.5vw; */

        /* border: 1px solid #d3d3d3; */
        
      }
      
     

 td{
  /* position: absolute; */
      width: 1.5cm;
 }
    

      #text1{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        bottom: 0.4vw;
      }

      #text2{
        position: absolute;
        font-size: 0.8vw;
        left: 0.8vw;
        
      }
      #text3{
        position: absolute;
     
        left: 0.4vw;
      }
      #text4{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        
      }
      #text5{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        
      }
      #text6{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        
      }

      #text7{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        
      }
      #text8{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        
      }
      #text9{
        position: absolute;
        font-size: 0.8vw;
        left: 0vw;
        
      }
      #text11{
        display: none;
      }

      
      #text22{
        display: none;
      }

      
      #text33{
        display: none;
      }

      
      #text44{
        display: none;
      }

      
      #text55{
        display: none;
      }

      
      #text66{
        display: none;
      }

      
      #text77{
        display: none;
      }

      
      #text88{
        display: none;
      }

      
      #text{
        display: none;
      }

 



      .form-switch{
        position: relative;
        top: 1cm;
        left: 4.2cm;
        z-index: +5;
      }