
.switch {
    position: absolute;
    display: inline-block;
    width: 3vw;
    height: 1.8vw;
 
  top: 0.4vw;
    z-index: 100; 

    
  }
  
  .switch #startDrawing { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left: 0vw;
    /* right: 6vw; */
    bottom: 0.2vw;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #949494;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    position: absolute;
    border-radius: 1vw;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  section{
    z-index: 100;
  }
  .but{
    position: absolute;
    /* margin: px; */
    border: 0vw solid;
    background-color: wheat;
    width: 1vw;
    height: 1vw;
    font-size: 0.8vw;
    display:flexbox;
    border-radius: 100%;
    position: absolute;
    left: 0vw;



  }