.lan{
  position:relative;
  width: 2cm;

}
#chartlagn{
  /* background-color: red; */
  width: 9cm;
}
#textarea{
  margin: 1cm;

  /* margin: 1cm; */
  /* width: 99%; */
  /* background-color: red; */
  /* position: relative; */
  /* bottom: 2cm; */

}
#textarears{
  /* margin-left: 0.2cm; */
  width: 100%;
  height: 14cm;

}


#textarea1{
  margin: 1cm;


}
#textarears1{

  width: 100%;
  height: 14cm;


}
