/* @import url("./style.css"); */


body{
    overflow-y: hi;
}

.box{
    position: relative;
    /* top: 1cm; */
    bottom: 11.2cm;
    right: 1cm;
}

.box2{
    border: 2px solid;
    padding: 2.2cm;
    /* background-color: rgb(230, 64, 64); */
}

.b2{

left: 1cm;
display: grid;
/* position: absolute; */
grid-template-columns: repeat(6, 1fr);
/* gap: 9px; */
width: 1000%;
max-width: 10px;
position: absolute;
/* top: -9cm; */
top: 2.3cm;
/* opacity: 0.5; */
rotate: 45deg;

}

#arrayDisplay{
position:relative;
/* background-color: rgb(0, 0, 0); */
opacity: 0.8;

overflow: hidden;
height: 490px; 
width: 490px;
/* height: 5050px; 
width: 6050px; */
position: relative;
border: 0.1cm solid;
/* left: 0.6cm; */
top: 10px;
/* left: 7cm; */
z-index: 2;
/* border-radius: 20px; */



}

/* ********** */

.container {
    text-align: center;
}

.color-palette {
    display: flex;
    border: 1px solid;
    /* width: 8cm; */
    height: 1.5cm;
    /* border-radius: 10px; */
    z-index: 2;
}

.color-palette2 {
    display: flex;
    border: 1px solid;
    width: 4cm;
    height: 1.5cm;
    /* border-radius: 10px; */
}
.col{
    position: relative;
    top: 1cm;
    left: 1cm;
}

@media only screen and (max-width: 1954px) {
  .buts{
    position: relative;
    top: 1cm;
    left: -3cm;
    /* background-color: black; */
    /* right: -4cm; */
    /* left: 1cm; */
}
}
.buts{
    position: relative;
    top: 1cm;
    /* left: -2cm; */
    right: 4.8cm;
}

.color-swatch {
   padding: 0.4cm;
   height: 0.5cm;
    margin: 5px;
    border-radius: 8px;
    cursor: grab;
    border-radius: 10%;
    position: relative;
    top: 0.2cm;
    z-index: 4;
}



#toolbar{
    display: flex;
gap: 10px;
position: relative;
top: 1.5cm;
left: 2cm;
border: 1px solid;
width: 9cm;
position: relative;
height: 1.5cm;

  }
.eraser {
padding: 5px 18px;
position: relative;
left: 1.3cm;
border: none;
background-color: #ddd;
border-radius: 5px;

cursor: pointer;
}   
.color {

width:  1cm;
height: 1cm;
cursor: pointer;
border-radius: 50%;
border: 1px solid #ccc;
position: relative;
top: 5px;
left: 40px;
/* text-align: center; */
}
.numflax{
  display: flex;
}
#nu12{
  position: relative;
  left: 6.6cm;
  top: 2.2cm;
}
#nu11{
  position: relative;
  left: 7.5cm;
  top: 2.9cm;
}

#nu10{
  position: relative;
  left: 4.8cm;
  top: 6cm;
}
#nu9{
  position: relative;
  left: 8.2cm;
  top: 9.3cm;
}

#nu8{
  position: relative;
  left: 7.9cm;
  top: 9.9cm;
}

#nu7{
  position: relative;
  left: 5cm;
  top: 6.8cm;
}

#nu6{
  position: relative;
  left: 2cm;
  top: 9.8cm;
}

#nu5{
  position: relative;
  left: 1.7cm;
  top: 9.3cm;
}

#nu4{
  position: relative;
  left: 5cm;
  top: 6cm;
}
#nu3{
  position: relative;
  left: 2.2cm;
  top: 2.9cm;
}

#nu2{
  position: relative;
  left: 2.9cm;
  top: 2.3cm;
}
#nu1{
  position: relative;
  left: 6.3cm;
  top: 5.5cm;
}

/* ******************************* */
#reset{
    background-color: red;
    color: white;
    width: 2cm;
    height: 1cm;
    border-radius: 10px;
    border: 0 solid;
    position: relative;
    left: 5cm;
}

#sett{
    background-color: rgb(40, 140, 255);
    color: white;
    width: 1.5cm;
    height: 1cm;
    border-radius: 10px;
    border: 0 solid;
}



