@media only screen and (max-width: 1280px) {

  .butt2{
      margin-right: 8cm;
    /* right: 50 cm; */
  }
  .btn{
    position: absolute;
    right: 0cm;
    bottom: 0.5cm;
  }
    .box-center , .box-left , .box-right{

        height: 25cm;
        /* margin: -5cm; */
        position: relative;
        /* right: cm; */
        left: 1cm;
        /* background-color: red; */
    }

    .buts{
        position: relative;
        /* left: -5cm; */

    }
    .box-center{
      position: absolute;
      
    }
    #cardbox1{
      position: relative;
      /* width: 2cm; */
      /* background-color: red; */
      left: 12.5cm;
    }
    #cardbox2{
      position: relative;
      /* width: 2cm; */
      /* background-color: red; */
      left: 10cm;
    }


    #arrayDisplay{
        position: relative;
        right: 5cm;
        /* left: 0.cm; */
    }

  #onButton{
    position: relative;
    right: 7.3cm;
    /* bottom: 0.8cm; */
  }
    .box-top-al{
      position: relative;
      right: 0.4cm;
    }

    .pen1{
        position: absolute;
        /* right: cm; */
        left: -7.3cm;
        
        /* left: 1cm; */
    }

    #flexSwitchCheckDefault{
        position: relative;
        left: -5cm;
        /* right: 2cm; */
    }


  }

  @media only screen and (max-width: 1880px) {

    
    canvas{
        /* background-color: rgb(255, 103, 103); */
        width: 100%;
        /* z-index: 10; */
        position: fixed;
        /* height: 500%; */
        height: auto;
        /* display: flexbox; */
    }
    #arrayDisplay{
        position: relative;
        right: 1cm;
        /* top: 5cm; */
        /* bottom: 1cm; */
        /* background-color: red; */
        margin-top: 0.3cm;
    }
    
    .boxses{
        position: relative;
        /* background-color: rgb(115, 77, 77); */
        /* position: relative; */
        right: 1cm;
    }
    .collbox{
        position: relative;
        right: 1cm;
    }
  #hh2{
    position: relative;
    left: 1px;
  }
  #chartlagn{
    font-size: 0.7cm;
    position: relative;
    right: 30px;
    top: 0.5cm;
  }
  .sellll{
    position: relative;
    right: 3cm;
    height: 1cm;
    /* text-align: top; */
    
    /* font-size: 0.5cm; */
  }

  #clear2{
        position:fixed;
        right: 5cm;
  }
  .box21{
   position: relative;
   right: 0.6cm;
   bottom: px;
   /* width: 2cm; */
  }

  #value1{
    position: relative;
    right: 1cm;
  }
 
  }
  #penbox{
    position: relative;
    right: 30px;
  }
  
  #box21{
  
    /* top: -1cm; */
    /* width: 2cm; */
    position: relative;
     top: 0.3cm;
      z-index: -1;
   }